body{
background-image:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
url(baseball-stadium.jpg);
background-position: right;
background-size: cover;
background-repeat: no-repeat;
color: white;
text-align: center;
height: 100vh;
text-align: center;
}

.title{
  font-size: 70px;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
.sub-heading{
  margin-bottom: 80px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
}
i{
  color:#1D8BF7;
  margin-left: -10px;
  font-size: 80px;
  border-radius: 20px;
}
.app{
color: black;
text-align: center;
box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
background-color: rgb(194, 194, 194);
max-width: 1000px;
padding: 50px;
border-radius:10px;
margin: 0 auto;
border-left: 5px dotted red;
opacity: 0.9;
}
.container{ 
  display: flex;
  justify-content: space-around;

}
.statistics-container{
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
.counter{
  margin-top: 38px;
  font-size: 50px;
  text-align: center;
}
@media(max-width:600px){
  body{
    background-size: cover;
    height: 100vh;
    width: 100%;
  }
  i{
    font-size: 40px;
  }
  .title{
    font-size:50px ;
  }
  .sub-heading{
    margin-bottom: 20px;
    font-size: 20px;
  }
 .app{

  margin: 30px;
  padding: 20px;
 } 
  .container{
    flex-direction: column;
  }
  i{
    margin-top: 10px;
  }
  .counter{
    font-size: 30px;
    margin-top: 20px;
  }
}