body{
background-image:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
url(baseball-stadium.jpg);
background-position: right;
background-size: cover;
background-repeat: no-repeat;
color: white;
text-align: center;
height: 100vh;
text-align: center;
}
.title{
  font-size: 48px;
}
.sub-heading{
  margin-bottom: 80px;
}
i{
  color:#1D8BF7;
  font-size: 70px;
}
.app{
color: black;
text-align: center;
box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
background-color: white;
max-width: 900px;
padding: 50px;
border-radius:10px;
margin: 0 auto;
border-left: 9px dotted red;
opacity: 0.9;
}
.container{ 
  display: flex;
  justify-content: space-between;

}
.statistics-container{
  text-align: center;
 
}
.counter{
  margin-top: 38px;
  font-size: 50px;
  text-align: center;
}
@media(max-width:600px){
 .app{
  margin: 40px;
 } 
  .container{
    flex-direction: column;
  }
  i{
    margin-top: 27px;
  }
  .counter{
    font-size: 34px;
  }
}