body{
background-image: url(baseball-stadium.jpg);
background-position: right;
background-size: cover;
background-repeat: no-repeat;
color: white;
text-align: center;
height: 100vh;
text-align: center;
}
h1{
  display: block;
}
i{
  color:#1D8BF7;
  font-size: 70px;
}
.container{
  color: black;
background-color: white;
padding: 50px;
border-left: 9px dotted red;
opacity: 0.9;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}
.statistics-container{
  text-align: center;
}
.counter{
  margin-top: 40px;
  font-size: 50px;
  text-align: center;
}